<h1> Welcome! </h1>
<div class="instructions">

<ul>
  <li> Create a player. </li>
  <li> Add decks to that player. </li>
  <li> Track your wins and losses through matchups. </li>
  <li> Be the best Hearthstone competitor in the universe! </li>
</ul>
</div>

<h3> <%=link_to "Let's get started.", new_player_path %></h3>
